<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <i *ngIf="userInfoLoading$|async" class="fa fa-spinner fa-spin fa-3x fa-fw text-white"></i>
    <ul *ngIf="!(userInfoLoading$|async)" class="list-group">
        <div *ngFor="let menuItem of getMenuItemToDisplay(grantedPermissionList$|async)">
            <!--has no child-->
            <a *ngIf="!menuItem.childItems" [routerLink]="[menuItem.route]" [routerLinkActive]="['router-link-active']" class="list-group-item">
                {{menuItem.name}}
            </a>
            <div class="nested-menu" *ngIf="menuItem.childItems">
                <a class="list-group-item" (click)="addExpandClass('pages')">
                        <span><i class="fa" [ngClass]="{'fa-minus':showMenu === 'pages','fa-plus':showMenu !== 'pages'}"></i>&nbsp; {{ menuItem.name }}</span>
                </a>
                <li class="nested" [class.expand]="showMenu === 'pages'">
                    <ul class="submenu">
                        <li *ngFor="let childItem of menuItem.childItems">
                            <a [routerLink]="[childItem.route]">{{ childItem.name }}</a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </ul>
</nav>