<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body">
    <ngb-tabset>
      <ngb-tab title="User Details">
        <ng-template ngbTabContent>
          <form role="form">
            <div [formGroup]="userDetailsForm" class="form-group">
              <label class="form-control-label" for="userName">User Name</label>
              <input name="userName" formControlName="userName" [(ngModel)]="selectedUser.userName" type="text" class="form-control" id="userName">
            </div>

            <div class="row">
              <div [formGroup]="userDetailsForm" class="form-group col col-xl-6 col-lg-6">
                <label class="form-control-label" for="name">Name</label>
                <input name="name" formControlName="name" [(ngModel)]="selectedUser.name" type="text" class="form-control" id="name">
              </div>

              <div [formGroup]="userDetailsForm" class="form-group col col-xl-6 col-lg-6">
                <label class="form-control-label" for="surname">Surname</label>
                <input name="surname" formControlName="surname" [(ngModel)]="selectedUser.surname" type="text" class="form-control" id="surname">
              </div>
            </div>

            <div [formGroup]="userDetailsForm" class="form-group">
              <label class="form-control-label" for="emailAddress">Email Address</label>
              <input name="emailAddress" formControlName="emailAddress" [(ngModel)]="selectedUser.emailAddress" type="text" class="form-control"
                id="emailAddress">
            </div>

            <div *ngIf="!isUpdating">
              <div [formGroup]="userDetailsForm" class="form-group">
                <label class="form-control-label" for="password">Password</label>
                <input name="password" formControlName="password" [(ngModel)]="selectedUser.password" type="text" class="form-control" id="password">
              </div>

              <div [formGroup]="userDetailsForm" class="form-group">
                <label class="form-control-label" for="description">Confirm Password</label>
                <input name="confirmPassword" formControlName="confirmPassword" [(ngModel)]="selectedUser.confirmPassword" type="text" class="form-control"
                  id="confirmPassword">
              </div>
            </div>

            <div class="form-group">
              <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [checked]="selectedUser.isActive" name="options" [(ngModel)]="selectedUser.isActive">
                      Active              
                    </label>
            </div>
          </form>
        </ng-template>
      </ngb-tab>

      <ngb-tab title="User Roles">
        <ng-template ngbTabContent>
          <form role="roles" #roleForm="ngForm">
            <div (click)="selectRole(role)" *ngFor="let role of rolesWithGrantedStatus" class="form-check form-check-inline">
              <label class="form-check-label">
                      <input class="form-check-input" type="checkbox" [checked]="role.granted" name="options" [value]="role.normalizedName">
                      {{role.displayName}}
                    </label>
            </div>
          </form>
        </ng-template>
      </ngb-tab>
    </ngb-tabset>

    <hr>
    
  </div>

  <div class="modal-footer">
    <button [disabled]="!isValidForm" type="button" class="btn" (click)="submit.emit(selectedUser);c('Close click')">Submit</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>