<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <!-- 
        <div class="card mb-3">
            <div class="card-header">
            Basic example
        </div>
        -->

        <div class="card-block table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>{{'Name'|translate|async}}</th>
                        <th>{{'DisplayName'|translate|async}}</th>
                        <th>{{'Actions'|translate|async}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let role of roleList">
                        <td>{{role.name}}</td>
                        <td>{{role.displayName}}</td>
                        <td>
                            <div ngbDropdown class="d-inline-block">
                                <i class="btn fa fa-bars fa-2x text-primary" ngbDropdownToggle></i>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button [disabled]="role.isStatic" class="dropdown-item" (click)="open.emit(role)">{{'Edit'|translate|async}}</button>
                                    <button [disabled]="role.isStatic" class="dropdown-item" (click)="openDeleteModal(role)">{{'Delete'|translate|async}}</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <i class="btn fa fa-plus-circle fa-2x text-primary" (click)="open.emit()"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 
    </div>
    -->
</div>

<ng-template #deleteModal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">{{'DeleteRole'|translate|async}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
  
    <div class="modal-body">
        <div> {{'AreYouSure'|translate|async}}</div>
    </div>
  
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onDelete(selectRole);c()">{{'Delete'|translate|async}}</button>
        <button type="button" class="btn btn-secondary" (click)="c()">{{'Close'|translate|async}}</button>
    </div>
  </ng-template>