<div class="row">
    <div class="col col-xl-12 col-lg-12">
        <div class="card-block table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let pole of poleList">
                        <td>{{pole.code}}</td>
                        <td>{{pole.name}}</td>
                        <td>{{pole.description}}</td>
                        <td>
                            <div ngbDropdown class="d-inline-block">
                                <i class="btn fa fa-bars fa-2x text-primary" ngbDropdownToggle></i>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                    <button [disabled]="pole.poleName=='admin'" class="dropdown-item" (click)="open.emit(pole)">Edit</button>
                                    <button [disabled]="pole.poleName=='admin'" class="dropdown-item" (click)="openDeleteModal(pole)">Delete</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <i (click)="open.emit()" class="btn text-primary fa fa-plus-circle fa-2x"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Delete pole</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <div> Are you sure?</div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="onDelete(selectedpole);c('Close click')">Delete</button>
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Close</button>
    </div>
</ng-template>