<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{modalTitle|translate|async}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>

  <div class="modal-body">
    <div class="row">&nbsp;</div>
    <form role="form">
      <div [formGroup]="poleCategoryDetailsForm" class="form-group" [ngClass]="validatedFormClass(code)">
        <label> {{'Code'|translate|async}} </label>
        <input name="code" formControlName="code" [(ngModel)]="selectedPoleCategory.code" type="text" class="form-control" id="code">
        <div class="form-control-feedback" *ngIf="code.invalid && code.dirty">
          {{'FieldIsInvalid'|translate|async}}
        </div>
      </div>

      <div [formGroup]="poleCategoryDetailsForm" class="form-group" [ngClass]="validatedFormClass(name)">
        <label>{{'Name'|translate|async}}</label>
        <input name="name" formControlName="name" [(ngModel)]="selectedPoleCategory.name" type="text" class="form-control" id="name">
        <div class="form-control-feedback" *ngIf="name.invalid && name.dirty">
          {{'FieldIsInvalid'|translate|async}}
        </div>
      </div>

      <div [formGroup]="poleCategoryDetailsForm" class="form-group" [ngClass]="validatedFormClass(description)">
        <label>{{'Description'|translate|async}}</label>
        <input name="description" formControlName="description" [(ngModel)]="selectedPoleCategory.description" type="text" class="form-control" id="description">
        <div class="form-control-feedback" *ngIf="description.invalid && description.dirty">
          {{'FieldIsInvalid'|translate|async}}
        </div>
      </div>
    </form>

    <hr>

  </div>

  <div class="modal-footer">
    <button [disabled]="!isValidForm" type="button" class="btn btn-primary" (click)="submit.emit(selectedPoleCategory);c('Close click')">{{'Submit'|translate|async}}</button>
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">{{'Close'|translate|async}}</button>
  </div>
</ng-template>